</div>
<div class="mode">
    <input type="checkbox" id="checkbox" class="checkbox">
    <label for="checkbox" class="label">
      <i class="far fa-moon"></i>
      <i class="fas fa-sun"></i>
      <div class="ball" id="ball"></div>
    </label>
</div>
<div class="footer-padding"></div>
<div class="footer">
  <p>Made with ❤️ by Kaustubh</p>
</div>
</div>

<script src="/js/index.js"></script>
</body>

</html>